th, td {
    border: 3px solid slategrey;
}

table {
    width: 40%;
    border-collapse: collapse;
    padding: 0;
}
td {
    position: relative;
}
td:after {
    content: '';
    display: block;
    margin-top: 100%;
}
td .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-sizing: border-box;
}

.big {
    padding-top: 0;
}

.small {

}

.empty {

}

.filled {
    background: black;
}

.crossed {
    font-size: 1.7em;
    padding-top: 0 !important;
}

.number {
    background: coral;
    color: white;
    font-size: 1.8em;
}

.corner {
    background: white;
    border: 0;
}

.thick_row {
    border-bottom-color: coral;
}

.thick_col {
    border-right-color: coral;
}

.selected {
    border-color: dodgerblue;
}

.selected-secondary-row {
    border-bottom-color: dodgerblue;
}

.selected-secondary-col {
    border-right-color: dodgerblue;
}

.error {
    border-color: red !important;
}

.error-secondary-row {
    border-bottom-color: red !important;
}

.error-secondary-col {
    border-right-color: red !important;
}

.crossed-number {
    color: darkgrey;
}