@page "/Game/{Id:int}"
@using SN.Model
@using SN.ClientServices.Services.Abstract
@using SN.Model.Solver
@inject IGameService _gameService
@inject IBoardSolver _boardSolver; 
@inject IJSRuntime _jsRuntime

@if (GameModel is null)
{
    <h3>Retrieving the Game</h3>
}
else
{
    <div class="container justify-content-center">
        <h3>Game #@Id Name: @GameModel.Name</h3>
        <Board BoardModel="@GameModel.BoardModel" BoardSolver="@_boardSolver" OnComplete="@CompleteGame">

        </Board>
    </div>
}

@code {

    [Parameter]
    public int Id { get; set; }

    public GameModel GameModel { get; set; }

    protected override async void OnInitialized()
    {
        GameModel = await _gameService.GetAsync(Id);
        _boardSolver.Answer = GameModel.Answer;
        _boardSolver.Board = GameModel.BoardModel;
        StateHasChanged();
    }

    public async void CompleteGame()
    {
        await _jsRuntime.InvokeVoidAsync("alert", "Game complete!"); // Alert
    }

}